<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&family=Instrument+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&family=Instrument+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/myorders.css">
    <link rel="icon" type="image/x-icon" href="./Images/favIcon.png">

</head>
<body>
    <div class="navbar">
        {{>header Link= "/logout" tag= "Logout" orders="y"}}
    </div>
    <div class="main-container">
        <div class="box">
            <h1>Your Orders</h1>
            {{#if record}}
            {{#each record}}
            <div class="order-table">
                <div class="left">
                    <img src="./Images/pdfimage.png" alt="">
                </div>
                <div class="right">
                    <ul>
                        <li style="font-weight:bolder; padding-top: 3px; font-size: 1.2rem; color: black;">{{this.filename}}</li>
                        <li>{{this.numPages}} pages</li>
                        <li>{{this.price}}rs</li>
                        {{#if this.status}}
                        <li style="color: green">Completed</li>
                        {{else}}
                        <li style="color: red">Processing</li>
                        {{/if}}
                        <li>{{this.stationary}}</li>
                    </ul>
                </div>
            </div>
            {{/each}}
            {{else}}
                <hr>
            <div style="margin-top: 15px;">
                <h1 style="font-size: 1.2em;">Oops! You don't have any order.</h1>
            </div>
            {{/if}}
        </div>
        
    </div>
    
</body>
</html>